html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  height: 100%;
}

.utils {
  &-padding {
    &-left-0px {
      padding-left: 0;
    }

    &-right-0px {
      padding-right: 0;
    }

    &-none {
      @extend .utils-padding-left-0px;
      @extend .utils-padding-right-0px;
    }
  }

  &-wip {
    content: "WIP";
    height: 50vh;

    &.bisque {
      background: bisque;
    }

    &.grey {
      background: rgb(173, 172, 172);
    }

    &.blue  {
      background-color: cadetblue;
    }
  }
}

.image {
  &-caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
  }
}
